

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Production builds
dist/

# Vite cache
.vite/

# IDE & editor folders
.idea/
.vscode/

# OS junk
.DS_Store

# Environment variables
.env
.env.*

# Netlify build cache
.netlify/
